%tbody
  %tr
    %td
      %table{cellspacing: "0",style: "width:100%;font-size:12px"}
        %tbody.inner
          %tr.dln-freight-header.hidden
            - mat(@object,'table_header_form').each do |label|
              %td.ce= label
          %tr.dln-freight.template
            - o = @object.freights.new
            %td
              %span.name Material
              - input_for o, 'freight_id',    {type: 'hidden',nested: 'doc_dln',index: 0,style: 'freight_id',value: 'strip'}
              - input_for o, 'id_date',       {type: 'hidden',nested: 'doc_dln',index: 0,style: 'id_date',value: 'strip'}
              - input_for o, 'id_stats',      {type: 'hidden',nested: 'doc_dln',index: 0,style: 'id_stats',value: 'strip'}
              - input_for o, 'id_intern',     {type: 'hidden',nested: 'doc_dln',index: 0,style: 'id_intern',value: 'false'}
              - input_for o, 'um',            {type: 'hidden',nested: 'doc_dln',index: 0,style: 'um',value: 'strip'}
              - input_for o, 'pu',            {type: 'hidden',nested: 'doc_dln',index: 0,style: 'pu',value: 'strip'}
              - input_for o, 'qu',            {type: 'hidden',nested: 'doc_dln',index: 0,style: 'qu',value: 'strip'}
              - input_for o, 'val',           {type: 'hidden',nested: 'doc_dln',index: 0,style: 'val',value: 'strip'}
              - input_for o, 'pu_invoice',    {type: 'hidden',nested: 'doc_dln',index: 0,style: 'pu_invoice',value: 0.0}
              - input_for o, 'val_invoice',   {type: 'hidden',nested: 'doc_dln',index: 0,style: 'val_invoice',value: 0.0}
            %td
              %span.um buc
            %td
              %span.pu 0.00
            %td
              %span.stk.qu 0.00
            %td
              %span.out.qu 0.00
            %td
              %span.val 0.00
            %td
              %span.button.flri.red.pointer.icon-minus-sign
          %tr.dln-freight-total.hidden
            %td{colspan: 5}
              %span.name TOTAL
            %td
              %span.val 0.00
            %td
              %span &nbsp
