:ruby
  firm    = Clns::PartnerFirm.find_by(firm: true)
%span#hidden_data.hidden{data: {dialog: "show",model_name: mat(@object,'model_name'),oid: @object.id,js_ext: 'desk_delivery_note'}}
%form{action: "/sys/#{@path}", method: "get"}
  %table{cellspacing: "0"}
    %thead
      %tr.pdb-05
        %td{colspan: "5"}
          %span.info.width-450.ju= t('intro.show.desk_delivery_note',doc_name: @object.doc_name,id_date: l(@object.id_date,format: :trst),firm: firm.name[2],firm_d: @object.signed_by.name,client: @object.client.name[2],client_d: (@object.client_d.name rescue 'Anonymous'))
    = partial "#{@path}/show"
    %tfoot
      %tr
        %td.buttonset.ce{colspan: "5"}
          - if @object.freights.count == 0
            %button{type: "button",data: {action: "delete",icon: "circle-minus",type: 'delete'}}= t('button.delete')
          - else
            %button{type: "button",data: {action: "print",icon: "print"}}= t('button.print')
            %button{type: "button",data: {action: "delete",icon: "circle-minus",remove: 'false'}}= t('button.delete')
            %button{type: "button",data: {action: "cancel",icon: "circle-close"}}= t('button.cancel')
