%span#hidden_data{data: {dialog: "edit",model_name: mat(@object,'model_name'),oid: @object.id,js_ext: 'desk_consumption'}}
%form{action: "/sys/#{@path}", method: "put"}
  %table
    %thead
      %tr
        %td{colspan: "5"}
          - label_for @object, 'name'
          - input_for @object, 'name'
      %tr.pdb-05
        %td{colspan: "5"}
          - input_for @object, 'expl', {style: 'ui-state-default width-450'}
    = partial "#{@path}/show"
    %tfoot
      %tr
        %td.buttonset.ce{colspan: "5"}
          %button{type: "button", data: {action: "save",  icon: "disk",remove: 'false'}}= t('button.save')
          %button{type: "button", data: {action: "cancel",icon: "circle-close"}}= t('button.cancel')
