:ruby
  firm    = Clns::PartnerFirm.find_by(firm: true)
%span#hidden_data{data: {dialog: "show",model_name: mat(@object,'model_name'),oid: @object.id,js_ext: 'desk_consumption'}}
%form{action: "/sys/#{@path}", method: "get"}
  %table
    %thead
      %tr.pdb-05
        %td{colspan: "5"}
          %detail.detail.w-45rem
            %i.fa.fa-info-circle.fa-lg.blue
            = t('intro.show.desk_consumption',id_date: l(@object.id_date,format: :trst),unit: firm.units.find(@object.unit_id).name[1],signed_by: @object.signed_by.name,expl: @object.expl)
    = partial "#{@path}/show"
    %tfoot
      %tr
        - if @object.freights.count == 0
          - td_buttonset(['delete'],{style: 'ta-ce'},'5')
        - else
          - if @current_user.admin?
            - td_buttonset(['print','edit','delete','cancel'],{style: 'ta-ce'},'5')
          - else
            - td_buttonset(['print','delete','cancel'],{style: 'ta-ce'},'5')
