%tbody
  - tr_show_for @object,        'id'
  - tr_show_for @related_object,'name',   {order: 1}
  - tr_show_for @object,        'role',   {type: 'enum'}
  - tr_show_for @object,        'name',   {order: 0}
  - tr_show_for @object,        'name',   {order: 1}
  - tr_show_for @object,        'slug'
  - tr_show_for @object,        'chief'
  - tr_show_for @object,        'created_at'
  - tr_show_for @object,        'updated_at'
