%head
  %title= Trst.firm.public['page']['title']
  %meta{charset: "UTF-8"}
  %meta{name: "description", content: ""}
  %meta{name: "keywords", content: ""}
  %meta{name: "viewport", content: "initial-scale=1.0, user-scalable=no"}
  %link{href: "#{Trst.firm.images_path}/favicon.ico",rel: "icon",type: "image/x-icon"}
  %link{href: "#{Trst.firm.css_path}/application.css",media: "all",rel: "stylesheet",type: "text/css"}
  %link{href: "/stylesheets/trst/font-awesome.css",media: "all",rel: "stylesheet",type: "text/css"}
  %link{href: "http://code.jquery.com/ui/1.9.2/themes/smoothness/jquery-ui.css",media: "all",rel: "stylesheet",type: "text/css"}
  %script{src: "/javascripts/libs/require.js", data: {main: '/javascripts/main'},type: "text/javascript"}
