%span#hidden_data{data: {dialog: "create",model_name: mat(@object,'model_name'),oid: "null"}}
%article#xhr_info.info
  %i.fa.fa-info-circle.fa-lg.blue
  = t('intro.create.main',data: mat(@object,'model_name'))
%form{action: "/sys/#{@path}",method: "post"}
  %table{:cellspacing => "0"}
    %thead
    = partial "#{@path}/form"
    %tfoot
      %tr
        - td_buttonset(['save','cancel'],{style: 'ta-ce'},'3')
