- @object.reload
- @object.from_freights.each{|f| f.set(:id_intern,true); f.set(:val,(f.pu*f.qu).round(2))}
- @object.resl_freights.each{|f| f.set(:id_intern,true); f.set(:val,(f.pu*f.qu).round(2))}
- if @object.resl_freights.count > 0
  %tbody.inner
    %tr
      - mat(@object,'table_header_show').each do |label|
        %td.ce= label
    - @object.from_freights.each do |o|
      %tr
        - td_value_for  o, 'freight',   {order: 'name',style: 'name'}
        - td_value_for  o, 'um',        {style: 'um'}
        - td_value_for  o, 'pu',        {style: 'pu'}
        - td_value_for  o, 'qu',        {style: 'val'}
        - td_value_for  o, 'val',       {style: 'val'}
        %td
          %span.name Sursa
    - @object.resl_freights.each do |o|
      %tr
        - td_value_for  o, 'freight',   {order: 'name',style: 'name'}
        - td_value_for  o, 'um',        {style: 'um'}
        - td_value_for  o, 'pu',        {style: 'pu'}
        - td_value_for  o, 'qu',        {style: 'val'}
        - td_value_for  o, 'val',       {style: 'val'}
        %td
          %span.name Rezultat
    %tr
      %td.ce.st{colspan: '6'}
        %span &nbsp;
- else
  %tbody
    %tr.pdb-05
      %td
        %span.warning.width-350= t('msg.no_freight_selected')
