:ruby
  firm = Clns::PartnerFirm.find_by(firm: true)
%span#hidden_data.hidden{data: {dialog: "show",model_name: mat(@object,@object.id_intern == true ? 'model_name_id_intern' : 'model_name'),oid: @object.id,js_ext: 'desk_grn'}}
%form{action: "/sys/#{@path}", method: "get"}
  %table{cellspacing: "0"}
    %thead
      %tr.pdb-05
        %td{colspan: @object.id_intern == true ? '5' : '6'}
          %span.info.width-450.ju= t('intro.show.desk_grn',id_date: l(@object.id_date,format: :trst),unit: firm.units.find(@object.unit_id).name[1],signed_by: @object.signed_by.name,supplr_d: (@object.supplr_d.name rescue 'Anonymous'),supplr: @object.supplr.name[2])
    = partial "#{@path}/show"
    %tfoot
      %tr
        %td.buttonset.ce{colspan: @object.id_intern == true ? '5' : '6'}
          - if @object.freights.count == 0
            %button{type: "button", data: {action: "delete", icon: "circle-minus",type: 'delete'}}= t('button.delete')
          - else
            %button{type: "button", data: {action: "print",  icon: "print"}}= t('button.print')
            - if @current_user.admin? || @object.id_date == Date.today
              %button{type: "button", data: {action: "delete", icon: "circle-minus",remove: 'false'}}= t('button.delete')
            %button.focus{type: "button", data: {action: "cancel", icon: "circle-close"}}= t('button.cancel')
