%tbody
  - tr_show_for @object,        'id'
  - tr_show_for @object,        'criteria_name'
  - tr_show_for @object,        'id_stats'
  - tr_show_for @object,        'name'
  - tr_show_for @object,        'um'
  - tr_show_for @object,        'pu',             {precision: 4}
  - tr_show_for @object,        'created_at'
  - tr_show_for @object,        'updated_at'
