:ruby
  id_stats = params[:id_stats] || "00000000"
  id_stats = Clns::Freight.by_id_stats(id_stats,true)
%span#hidden_data.hidden{data: {dialog: "create",model_name: mat(@object,'model_name'),oid: "null",js_ext: 'desk_freight'}}
%form{action: "/sys/#{@path}",method: "post"}
  %table{:cellspacing => "0"}
    %thead
      %tr.pdb-05
        %th{colspan: "3"}
          %span.warning.width-350.ju= t('intro.create.main', data: mat(@object,'model_name'))
    = partial "#{@path}/form", locals: {id_stats: id_stats, create: true}
    %tfoot
      %tr
        %td.buttonset.ce{colspan: "3"}
          %button{type: "button",data: {action: "save",  icon: "disk",remove: 'false'}}= t('button.save')
          %button{type: "button",data: {action: "cancel",icon: "circle-close"}}= t('button.cancel')
