%span#hidden_data{data: {dialog: "show",model_name: mat(@object,'model_name'),oid: @object.id}}
%form{action: "/sys/#{@path}",method: "get"}
  %table
    %thead
    = partial "#{@path}/show"
    %tfoot
      %tr
        - td_buttonset(['create','edit','delete','cancel'],{style: 'ta-ce'},'2')
