%tbody
  - tr_show_for @object,        'id'
  - tr_show_for @related_object,'name',   {order: 2}
  - tr_show_for @object,        'name'
  - tr_show_for @object,        'city'
  - tr_show_for @object,        'street'
  - tr_show_for @object,        'nr'
  - tr_show_for @object,        'bl'
  - tr_show_for @object,        'sc'
  - tr_show_for @object,        'ap'
  - tr_show_for @object,        'state'
  - tr_show_for @object,        'country'
  - tr_show_for @object,        'zip'
  - tr_show_for @object,        'created_at'
  - tr_show_for @object,        'updated_at'
